<header class = "col-12">
    <h1 class = "col-6">HappyDuckBlog</h1>
    <nav class ="col-6">
        <li><a href = "../home.handlebars">Home</a></li>
        <li><a href = ".../dashboard.handlebars">Dashboard</a></li>
         <li><a href = ""></a></li>
    </nav>
</header>
