<header class = "col-12">
    <h1 class = "col-6">HappyDuckBlog</h1>
    <nav class ="col-6">
        <li><a href = "signuplogin.handlebars">Login</a></li>
        <li><a href = "dashboard.handlebars">Dashboard</a></li>
    </nav>
</header>
